html {
    height: 100%;
    margin: 0;
}

body {
    background-color: #ececec;
    font-family: Arial;
    font-size: 1em;
    font-weight: 300;
    height: 100%;
    margin: 0;
    overflow:hidden;
    white-space: nowrap;
    width: 100%;
}
button {
    cursor:pointer;
    outline:none;
}

a {
    text-decoration: none;
    color: inherit;
}
.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.page-header {
    border-bottom: 1px #c1c1c1 solid;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    position: relative;
    text-align:center;
    width: 100%;
}
.page-header::after {
    background-color: #fff;
    content: "";
    height: 1px;
    width: 100%;
    display: block;
    position: relative;
    bottom: -1px;
}

.page-header .logo {
    background: url(../images/quby.svg) center no-repeat;
    background-size: 100% auto;
    height: 32px;
    overflow:hidden;
    text-indent:-9999em;
    width: 32px;
}

.menu-item {
    display:inline-block;
    padding:0 1.5em;
}
.menu-item:focus,
.menu-item:hover {
    background: #cccccc;
}

aside.actions {
    align-items: center;
    display:flex;
    height:400px;
    justify-content: center;
    margin:0 auto;
    width:400px;
}
.actions .login {
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-play-state: start;
    border-style:none;
    border-radius:5px;
    font-size:3em;
    height:200px;
    width:200px;
}

@-webkit-keyframes pulse {
    from { background-color: #eeeeee; box-shadow: 0 0 9px #333; }
    50% { background-color: #cccccc; box-shadow: 0 0 9px #333; }
    to { background-color: #eeeeee; box-shadow: 0 0 9px #333; }
}

.content {
    margin:0 auto;
    padding:1em;
    width: 400px;
}

.thermostat-state {
    float: left;
    height:216px;
    margin-right:1em;
    width: 284px;
    background: #fbfbfb;
    border-top-left-radius: 6px;
}

.thermostat-state .temperature {
    color: #414141;
    font-size: 90px;
    margin-left: 10%;
}

.thermostat-state .heating-icon {
    height: 25%;
    width: 100%;
}

.button {
    align-items: center;
    background: #fff;
    border-width: 0;
    color: #898989;
    cursor:pointer;
    box-shadow: 1px 1px 1px #d4d4d4;
    display:flex;
    float:right;
    font-size: 3em;
    height:100px;
    justify-content: center;
    margin-bottom: 16px;
    width:100px;
}

.thermostat-plus {
    border-top-right-radius: 6px;
}

.state-button:active,
.button:active{
    background: #eeeeee;
    color: #d21242;
}

.row {
    display:flex;
    flex-direction: row
}
.row-item {
    width:50%;
}

.value {
    text-align:right;
}

.switch {
    background: #cbd5e2;
    border-radius: 5px;
    border-style: none;
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.27);
    height: 32px;
    position:relative;
    width: 64px;
}

.switch::after {
    background: #ffffff;
    border-radius: 5px;
    border-style:none;
    content: "";
    left:2px;
    height: 26px;
    margin: 1px;
    position:absolute;
    top:2px;
    width: 26px;
}

.switch.active::after {
    left:auto;
    right:2px;
}

.switch.active {
    background: #74b72e;
}

.thermostat-program {
    background: #fbfbfb;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-sizing:border-box;
    clear:both;
    font-size: 25px;
    padding:16px;
    width: 100%;
}
.thermostat-program .row {
    margin-bottom:8px;
}

.state-buttons {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.state-button {
    background: #fff;
    border-style:none;
    box-sizing:border-box;
    box-shadow: 1px 1px 1px #d4d4d4;
    color: #898989;
    height: 168px;
    margin-top:16px;
    padding:16px;
    text-align: center;
    vertical-align: middle;
    width: 168px;
}

.state-button .scenario {
    display:block;
    text-align: center;
    margin-top: 5%;
    font-size: 30px;
}

.state-button .temp {
    display:block;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    margin-top: 8%;
}

.state-button.selected {
    font-weight: 700;
}

.page-footer {
    background: #00adef; /* Old browsers */
    background: linear-gradient(to right, #00adef 0%, #fcfcfc 100%); /* W3C */
    bottom: 0;
    height: 5px;
    position: absolute;
    width: 100%;
}